/competitions/Rainfall_dataset/__pycache__
/competitions/Rainfall_dataset/catboost_info
/competitions/Rainfall_dataset/outputs
/competitions/ElucidataAI_cell_type_prediction/__pycache__
/competitions/ElucidataAI_cell_type_prediction/data
/competitions/ElucidataAI_cell_type_prediction/outputs
